#img-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#3c4c5c), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#3c4c5c, #f5f5f5, #f5f5f5);
}

#img-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#5e5e5e, #f5f5f5, #f5f5f5);
}

#img-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#14409a), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#14409a, #f5f5f5, #f5f5f5);
}

#img-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#c0bab5), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#c0bab5, #f5f5f5, #f5f5f5);
}

#img-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#5c5c5c), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#5c5c5c, #f5f5f5, #f5f5f5);
}

#img-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(#33569c), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#33569c, #f5f5f5, #f5f5f5);
}

.slide-1 {
  background-image: url("../img/./banner-1.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .slide-1 {
    background-image: url("../img/./banner-1-xs.jpg");
    background-position: unset;
  }
}

.slide-2 {
  background-image: url("../img/./banner-2.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .slide-2 {
    background-image: url("../img/./banner-2-xs.jpg");
    background-position: unset;
  }
}

.slide-3 {
  background-image: url("../img/./banner-3.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .slide-3 {
    background-image: url("../img/./banner-3-xs.jpg");
    background-position: unset;
  }
}

.slide-4 {
  background-image: url("../img/./banner-4.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .slide-4 {
    background-image: url("../img/./banner-4-xs.jpg");
    background-position: unset;
  }
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
}

.btn-big-blue {
  padding: 6px 30px;
  border-radius: 40px;
  color: #fff;
  background-color: #2198dc;
  border: 2px solid #2198dc;
  font-weight: bold;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-big-blue:hover {
  color: #007cc3;
  background-color: #fff;
}

.btn-big-white {
  padding: 6px 30px;
  border-radius: 40px;
  color: #007cc3;
  background-color: #fff;
  border: 2px solid #2198dc;
  font-weight: bold;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-big-white:hover {
  color: #fff;
  background-color: #2198dc;
}

.btn-big-red {
  padding: 6px 15px;
  border-radius: 40px;
  color: #fff;
  background-color: #ff4040;
  border: 2px solid #ff4040;
  font-weight: bold;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-big-red:hover {
  color: #ff4040;
  background-color: #fff;
}

.btn-big-blue-border-white {
  padding: 6px 30px;
  border-radius: 40px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  font-weight: bold;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-big-blue-border-white:hover {
  color: #007cc3;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 11px;
}

#header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

#header #navbar {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #007cc3;
}

#header #navbar .nav_border {
  border-left: 1px solid #4f91ca;
  border-right: 1px solid #4f91ca;
}

#header #navbar .nav_border_right {
  border-right: 1px solid #4f91ca;
}

#header #navbar .nav_img {
  padding: 0 15px;
  margin: 0;
}

#header #navbar .nav_menu {
  display: inline-block;
  position: relative;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 20px 25px;
  font-size: 1.4rem;
  z-index: 1;
}

#header #navbar .nav_menu .fa-angle-up {
  -webkit-transition: all .3s;
  transition: all .3s;
}

#header #navbar .nav_menu:after {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}

#header #navbar .nav_menu:hover {
  text-decoration: none;
  color: #2198dc;
}

#header #navbar .nav_menu:hover:after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#header #navbar .nav-item {
  list-style: none;
}

#header #navbar .nav-item > .active {
  background-color: #fff;
  color: #2198dc;
}

#header #navbar .nav-item > .active .fa-angle-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar-toggler-icon {
  color: #fff;
}

.hide-submenu {
  display: none;
}

@media screen and (max-width: 992px) {
  #header #navbar .nav_img {
    padding: 0;
  }
  #header #navbar .nav_menu {
    padding: 15px;
  }
  #header #navbar .nav_menu:after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #header #navbar .nav_img {
    padding: 0 15px;
  }
  #header #navbar .nav_menu {
    padding: 6px 15px;
  }
  #header #navbar .nav__right {
    border-top: 1px solid #fff;
  }
  #header #navbar .nav__right .navbar-nav .nav-item .nav-link {
    border: none;
    padding: 15px;
  }
}

#shoppingtool {
  padding: 30px 30px;
  position: fixed;
  top: 63px;
  left: 220px;
  right: 0;
  width: 50%;
  -webkit-box-shadow: 1px 20px 70px -10px black;
          box-shadow: 1px 20px 70px -10px black;
  background-color: #fff;
  z-index: -1;
}

#shoppingtool .shoppingtool_top .shoppingtool_menu {
  cursor: pointer;
  text-align: center;
  font-size: 1.4rem;
  color: #00324f;
  border-right: 2px solid #E7E7E7;
}

#shoppingtool .shoppingtool_top .shoppingtool_menu i {
  font-size: 4rem;
}

#shoppingtool .shoppingtool_top .shoppingtool_menu p {
  margin-top: 20px;
  white-space: nowrap;
}

#shoppingtool .shoppingtool_top .shoppingtool_menu:hover {
  color: #23527c;
}

#shoppingtool .shoppingtool_top .shoppingtool_menu:last-child {
  border: none;
}

#shoppingtool .shoppingtool_bottom a {
  color: #007cc0;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  #shoppingtool {
    position: static;
    width: 100%;
    background-color: #fff;
    padding: 0;
  }
}

#vehicles {
  position: fixed;
  top: 63px;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 67, 108, 0.8);
}

#vehicles .container-config {
  padding: 0 10%;
}

#vehicles .vehicles__top {
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
}

#vehicles .vehicles__top ul {
  margin: 0;
}

#vehicles .vehicles__top ul li {
  list-style: none;
}

#vehicles .vehicles__top ul li a {
  padding: 6px 25px;
  border-right: 0.15rem solid #eaeaea;
  font-size: 1.4rem;
  font-weight: bold;
  color: #00324f;
  text-decoration: none;
}

#vehicles .vehicles__top ul li a:hover {
  color: #2198dc;
}

#vehicles .vehicles__top ul .active a {
  text-decoration: underline;
  color: #2198dc;
}

#vehicles .vehicles__bottom {
  background-color: #f5f5f5;
  padding: 50px;
  max-height: 700px;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__title h1 {
  background-color: #f5f5f5;
  position: relative;
  top: -2.7rem;
  padding: 0 6px;
  color: #00324f;
  font-weight: bold;
  font-size: 2.4rem;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__title h1 i {
  font-size: 1.2rem;
  position: relative;
  top: -5px;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__title h1 span {
  font-weight: normal;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item {
  margin-bottom: 30px;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #00324f;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item h3 {
  font-size: 2.4rem;
  font-weight: normal;
  color: #00324f;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item p {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 5px;
  color: #00324f;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item .vehicles__img_hover {
  display: none;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item:hover .vehicles__img {
  display: none;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item:hover .vehicles__img_hover {
  display: block;
}

#vehicles .vehicles__close {
  background-color: #f5f5f5;
  position: absolute;
  top: 63px;
  left: 90%;
  padding: 15px 0;
  color: #007cc3;
  width: 60px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
}

#vehicles .vehicles__close .vehicles__circle {
  text-align: center;
  width: 25px;
  height: 25px;
  border: 1px solid #007cc3;
  border-radius: 50%;
  margin: auto;
}

#vehicles .vehicles__close .vehicles__circle i {
  font-size: 1.4rem;
  line-height: 25px;
}

#vehicles .vehicles__close p {
  font-weight: bold;
  font-size: 1.4rem;
}

@media screen and (max-width: 960px) {
  #vehicles {
    top: 53px;
  }
  #vehicles .vehicles__top {
    padding: 8px;
  }
  #vehicles .vehicles__top ul li a {
    padding: 6px 13px;
  }
  #vehicles .vehicles__close {
    top: 39px;
  }
}

@media screen and (max-width: 830px) {
  #vehicles .vehicles__top ul li a {
    padding: 6px;
  }
  #vehicles .vehicles__close {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #vehicles {
    top: 57px;
  }
  #vehicles .vehicles__top ul li a {
    border: none;
  }
}

@media screen and (max-width: 377px) {
  #vehicles .vehicles__bottom {
    padding: 6px;
  }
}

#owners {
  padding: 30px 30px;
  position: fixed;
  top: 63px;
  right: 0;
  width: 37%;
  -webkit-box-shadow: 1px 20px 70px -10px black;
          box-shadow: 1px 20px 70px -10px black;
  background-color: #fff;
  z-index: -1;
}

#owners .owners_left {
  border-right: 2px solid #E7E7E7;
  padding-right: 30px;
}

#owners .owners_right {
  padding-left: 30px;
}

#owners ul li {
  list-style: none;
  margin-bottom: 17px;
}

#owners ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  color: #007cc0;
  white-space: nowrap;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 1374px) {
  #owners {
    min-width: 69%;
  }
}

@media screen and (max-width: 992px) {
  #owners {
    top: 53px;
  }
}

@media screen and (max-width: 768px) {
  #owners {
    position: static;
    width: 100%;
    background-color: #fff;
    padding: 0;
  }
  #owners .owners_left {
    border: none;
  }
  #owners ul li {
    margin: 0;
  }
  #owners ul li a {
    padding: 15px;
  }
}

@media screen and (max-width: 576px) {
  #owners {
    padding: 0 30px;
  }
  #owners .owners_left,
  #owners .owners_right {
    padding: 0;
  }
  #owners ul li {
    margin: 0;
  }
  #owners ul li a {
    padding: 0;
    white-space: initial;
  }
}

#search {
  padding: 6px 50px;
  position: fixed;
  top: 63px;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  z-index: -1;
}

#search i {
  color: #2198dc;
  font-size: 1.8rem;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#search input {
  width: 87%;
  height: 4.5rem;
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: 300;
  font-size: 2.4rem;
  color: #2198dc;
}

#search .search_btn {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.intro {
  height: 750px;
  margin-top: 60px;
  background-color: #00324f;
}

.intro .swiper {
  height: 500px;
  position: relative;
}

.intro .swiper .intro_button {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 72%;
  z-index: 9;
}

.intro .swiper .swiper-wrapper {
  height: 93%;
}

.intro .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #007cc3;
}

@media screen and (max-width: 992px) {
  .intro {
    margin-top: 53px;
    height: 600px;
  }
  .intro .swiper {
    height: 500px;
    position: relative;
  }
  .intro .swiper .intro_button {
    top: 54%;
  }
  .intro .swiper .swiper-wrapper {
    height: 70%;
  }
  .intro .swiper .swiper-pagination {
    bottom: 120px;
  }
  .intro .swiper .swiper-button-next,
  .intro .swiper .swiper-button-prev {
    top: 33%;
  }
}

@media screen and (max-width: 768px) {
  .intro .swiper {
    height: 400px;
    position: relative;
  }
  .intro .swiper .intro_button {
    top: 80%;
  }
  .intro .swiper .swiper-wrapper {
    height: 92%;
  }
  .intro .swiper .swiper-button-next,
  .intro .swiper .swiper-button-prev {
    top: 45%;
  }
  .intro .swiper .swiper-pagination {
    bottom: 10px;
  }
}

@media screen and (max-width: 576px) {
  .intro .swiper .swiper-wrapper {
    height: 87%;
  }
  .intro .swiper .intro_button {
    top: 74%;
  }
  .intro .swiper .swiper-button-next,
  .intro .swiper .swiper-button-prev {
    top: 35%;
  }
}

@media screen and (max-width: 560px) {
  .intro .swiper .swiper-wrapper {
    height: 70%;
  }
  .intro .swiper .intro_button {
    top: 60%;
  }
  .intro .swiper .intro_button .intro_button_red {
    font-size: 1rem;
    padding: 0 6px;
  }
  .intro .swiper .swiper-pagination {
    bottom: 100px;
  }
}

@media screen and (max-width: 480px) {
  .intro .swiper .swiper-wrapper {
    height: 62%;
  }
  .intro .swiper .intro_button {
    top: 52%;
  }
  .intro .swiper .swiper-button-next,
  .intro .swiper .swiper-button-prev {
    top: 25%;
  }
}

@media screen and (max-width: 395px) {
  .intro .swiper .swiper-wrapper {
    height: 50%;
  }
  .intro .swiper .intro_button {
    top: 42%;
  }
  .intro .swiper .swiper-pagination {
    bottom: 175px;
  }
}

.adv {
  height: 400px;
  margin-top: -200px;
}

.adv .adv_container {
  height: 100%;
  padding: 0 5%;
}

.adv .adv_container .adv_row {
  height: 100%;
}

.adv .adv_container .adv_row .adv_left {
  height: 350px;
  background-image: url("../img/our-vehicle-intro-1.jpg");
  background-size: cover;
  background-position: center center;
  background-clip: content-box;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  position: relative;
}

.adv .adv_container .adv_row .adv_left .adv_left_content {
  position: absolute;
  bottom: 10%;
}

.adv .adv_container .adv_row .adv_left .adv_left_content .adv_left_btn {
  padding: 6px 15px;
}

.adv .adv_container .adv_row .adv_left .adv_left_content h4 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

.adv .adv_container .adv_row .adv_left .adv_left_content p {
  margin-bottom: 30px;
  font-weight: 300;
  padding: 0 20px;
}

.adv .adv_container .adv_row .adv_right {
  height: 350px;
  background-image: url("../img/our-vehicles-intro-2.jpg");
  background-size: cover;
  background-position: center center;
  background-clip: content-box;
  text-align: left;
  color: #fff;
  font-size: 1.8rem;
}

.adv .adv_container .adv_row .adv_right .adv_right_content {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 38%;
}

.adv .adv_container .adv_row .adv_right .adv_right_content .adv_right_btn {
  padding: 6px 15px;
}

.adv .adv_container .adv_row .adv_right .adv_right_content h4 {
  margin-bottom: 20px;
  font-weight: bold;
  background: rgba(0, 67, 108, 0.8);
  display: inline-block;
  padding: 6px 15px;
  font-size: 1.8rem;
}

.adv .adv_container .adv_row .adv_right .adv_right_content p {
  margin-bottom: 30px;
  font-weight: bold;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .adv .adv_container .adv_row .adv_right .adv_right_content {
    top: 20%;
  }
  .adv .adv_container .adv_row .adv_right .adv_right_content .adv_right_btn {
    font-size: 1.2rem;
    padding: 6px 3px;
  }
  .adv .adv_container .adv_row .adv_right .adv_right_content h4 {
    font-size: 1.2rem;
  }
  .adv .adv_container .adv_row .adv_right .adv_right_content p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .adv .adv_container .adv_row .adv_left {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 560px) {
  .adv {
    margin-top: -287px;
  }
}

@media screen and (max-width: 470px) {
  .adv {
    margin-top: -287px;
  }
  .adv .adv_container .adv_row .adv_right .adv_right_content {
    top: 10%;
  }
  .adv .adv_container .adv_row .adv_right .adv_right_content .adv_right_btn {
    font-size: 1.2rem;
    padding: 6px 3px;
  }
}

@media screen and (max-width: 395px) {
  .adv {
    margin-top: -360px;
  }
}

.ourvehicles h1 {
  color: #00324f;
  font-weight: 300;
  font-size: 6rem;
  margin-bottom: 60px;
  text-align: center;
}

.ourvehicles .ourvehicles_slide .ourvehicles_indicators {
  position: static;
  margin: 0;
  margin-bottom: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
}

.ourvehicles .ourvehicles_slide .ourvehicles_indicators li {
  display: inline-block;
  opacity: 1;
  text-indent: 0;
  height: 30px;
  width: 15%;
  color: red;
  border: none;
  margin: 0;
  text-align: center;
  color: #00324f;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 6px 20px;
  border-radius: 4rem;
  cursor: pointer;
}

.ourvehicles .ourvehicles_slide .ourvehicles_indicators .active {
  background-color: #2198dc;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ourvehicles .ourvehicles_slide .ourvehicles_indicators .active::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-top: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: -48px;
  z-index: 10;
}

.dropdown-toggle::after {
  display: none;
}
/*# sourceMappingURL=main.css.map */