* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 11px;
}

#header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#header #navbar {
  margin: 0;
  padding: 0;
  background-color: #007cc3;
}

#header #navbar .nav_border {
  border-left: 1px solid #4f91ca;
  border-right: 1px solid #4f91ca;
}

#header #navbar .nav_border_right {
  border-right: 1px solid #4f91ca;
}

#header #navbar .nav_img {
  padding: 0 25px;
}

#header #navbar .nav_menu {
  display: inline-block;
  position: relative;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 20px 25px;
  font-size: 1.4rem;
  z-index: 1;
}

#header #navbar .nav_menu:after {
  display: none;
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}

#header #navbar .nav_menu:hover {
  text-decoration: none;
  color: #2198dc;
}

#header #navbar .nav_menu:hover:after {
  display: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#header .nav__right {
  position: relative;
}

#header .nav__right .navbar-nav .nav-item .dropdown-menu {
  position: absolute;
  left: -293px;
  padding: 25px;
  border: none;
  -webkit-box-shadow: 1px 20px 70px -10px black;
          box-shadow: 1px 20px 70px -10px black;
  width: 440px;
}

#header .nav__right .navbar-nav .nav-item .dropdown-menu::before {
  content: "";
  width: 23px;
  height: 23px;
  line-height: 25px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 350px;
}

#header .nav__right .navbar-nav .nav-item .dropdown-menu .dropmenu_top {
  padding: 0.25rem 1.5rem;
  clear: both;
}

#header .nav__right .navbar-nav .nav-item .dropdown-menu .dropmenu_top .dropdown-item {
  color: #2198dc;
  padding: 0;
  font-weight: bold;
  white-space: normal;
}

#header .nav__right .navbar-nav .nav-item .dropdown-menu .dropmenu_top .dropdown-item:hover {
  background-color: #fff;
}

#header .nav__right .navbar-nav .nav-item .dropdown-menu .dropmenu_top h3 {
  color: #00324f;
  font-size: 19.25px;
  font-weight: bold;
  margin-bottom: 20px;
}

#header .nav__right .navbar-nav .nav-item .dropdown-menu .dropmenu_top .dropdown_left {
  width: 50%;
}

#header .nav__right .navbar-nav .nav-item .dropdown-menu .dropmenu_top .dropdown_right {
  padding-left: 20px;
  width: 50%;
}

#header .nav__right .navbar-nav .nav-item .dropdown-menu li {
  list-style: none;
  margin-bottom: 15px;
}

#header .nav__right .navbar-nav .nav-item .dropdown-menu .dropmenu_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  padding: 0.25rem 1.5rem;
}

#header .nav__right .navbar-nav .nav-item .dropdown-menu .dropmenu_bottom i {
  width: 30px;
  height: 30px;
  background-color: #007cc3;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 30px;
}

.navbar-toggler-icon {
  color: #fff;
}

.dropdown-toggle::after {
  display: none;
}

#vehicles {
  position: fixed;
  top: 63px;
  left: 0;
  right: 0;
  background-color: rgba(0, 67, 108, 0.8);
}

#vehicles .container-config {
  padding: 0 10%;
}

#vehicles .vehicles__top {
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
}

#vehicles .vehicles__top ul {
  margin: 0;
}

#vehicles .vehicles__top ul li {
  list-style: none;
}

#vehicles .vehicles__top ul li a {
  padding: 6px 25px;
  border-right: 0.15rem solid #eaeaea;
  font-size: 1.4rem;
  font-weight: bold;
  color: #00324f;
  text-decoration: none;
}

#vehicles .vehicles__top ul li a:hover {
  color: #2198dc;
}

#vehicles .vehicles__top ul .active a {
  text-decoration: underline;
  color: #2198dc;
}

#vehicles .vehicles__bottom {
  background-color: #f5f5f5;
  padding: 50px;
  max-height: 700px;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__title h1 {
  background-color: #f5f5f5;
  position: relative;
  top: -2.7rem;
  padding: 0 6px;
  color: #00324f;
  font-weight: bold;
  font-size: 2.4rem;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__title h1 i {
  font-size: 1.2rem;
  position: relative;
  top: -5px;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__title h1 span {
  font-weight: normal;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item {
  margin-bottom: 30px;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #00324f;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item h3 {
  font-size: 2.4rem;
  font-weight: normal;
  color: #00324f;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item p {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 5px;
  color: #00324f;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item .vehicles__img_hover {
  display: none;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item:hover .vehicles__img {
  display: none;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item:hover .vehicles__img_hover {
  display: block;
}

#vehicles .vehicles__close {
  background-color: #f5f5f5;
  position: absolute;
  top: 0;
  left: 90%;
  padding: 15px 0;
  color: #007cc3;
  width: 60px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
}

#vehicles .vehicles__close .vehicles__circle {
  text-align: center;
  width: 25px;
  height: 25px;
  border: 1px solid #007cc3;
  border-radius: 50%;
  margin: auto;
}

#vehicles .vehicles__close .vehicles__circle i {
  font-size: 1.4rem;
  line-height: 25px;
}

#vehicles .vehicles__close p {
  font-weight: bold;
  font-size: 1.4rem;
}

.hide-vehicles {
  display: none;
}

#img-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#3C4C5C), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#3C4C5C, #f5f5f5, #f5f5f5);
}

#img-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#5E5E5E), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#5E5E5E, #f5f5f5, #f5f5f5);
}

#img-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#14409A), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#14409A, #f5f5f5, #f5f5f5);
}

#img-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#C0BAB5), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#C0BAB5, #f5f5f5, #f5f5f5);
}

#img-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#5C5C5C), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#5C5C5C, #f5f5f5, #f5f5f5);
}

#img-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(#33569C), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#33569C, #f5f5f5, #f5f5f5);
}

.btn-big-blue {
  padding: 6px 30px;
  border-radius: 40px;
  color: #fff;
  background-color: #2198dc;
  border: 2px solid #2198dc;
  font-weight: bold;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-big-blue:hover {
  color: #007cc3;
  background-color: #fff;
}

.btn-big-white {
  padding: 6px 30px;
  border-radius: 40px;
  color: #007cc3;
  background-color: #fff;
  border: 2px solid #2198dc;
  font-weight: bold;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-big-white:hover {
  color: #fff;
  background-color: #2198dc;
}
/*# sourceMappingURL=main.css.map */