#img-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#3C4C5C), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#3C4C5C, #f5f5f5, #f5f5f5);
}

#img-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#5E5E5E), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#5E5E5E, #f5f5f5, #f5f5f5);
}

#img-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#14409A), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#14409A, #f5f5f5, #f5f5f5);
}

#img-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#C0BAB5), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#C0BAB5, #f5f5f5, #f5f5f5);
}

#img-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#5C5C5C), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#5C5C5C, #f5f5f5, #f5f5f5);
}

#img-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbdc0), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#bbbdc0, #f5f5f5, #f5f5f5);
}

.vehivles__item:hover > #img-6 {
  background: -webkit-gradient(linear, left top, left bottom, from(#33569C), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#33569C, #f5f5f5, #f5f5f5);
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
}

.btn-big-blue {
  padding: 6px 30px;
  border-radius: 40px;
  color: #fff;
  background-color: #2198dc;
  border: 2px solid #2198dc;
  font-weight: bold;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-big-blue:hover {
  color: #007cc3;
  background-color: #fff;
}

.btn-big-white {
  padding: 6px 30px;
  border-radius: 40px;
  color: #007cc3;
  background-color: #fff;
  border: 2px solid #2198dc;
  font-weight: bold;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-big-white:hover {
  color: #fff;
  background-color: #2198dc;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 11px;
}

#header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

#header #navbar {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #007cc3;
}

#header #navbar .nav_border {
  border-left: 1px solid #4f91ca;
  border-right: 1px solid #4f91ca;
}

#header #navbar .nav_border_right {
  border-right: 1px solid #4f91ca;
}

#header #navbar .nav_img {
  padding: 0 15px;
  margin: 0;
}

#header #navbar .nav_menu {
  display: inline-block;
  position: relative;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 20px 25px;
  font-size: 1.4rem;
  z-index: 1;
}

#header #navbar .nav_menu:after {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}

#header #navbar .nav_menu:hover {
  text-decoration: none;
  color: #2198dc;
}

#header #navbar .nav_menu:hover:after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#header #navbar .nav-item {
  list-style: none;
}

#header #navbar .nav-item > .active {
  background-color: #fff;
  color: #2198dc;
}

.navbar-toggler-icon {
  color: #fff;
}

.hide-submenu {
  display: none;
}

@media screen and (max-width: 992px) {
  #header #navbar .nav_img {
    padding: 0;
  }
  #header #navbar .nav_menu {
    padding: 15px;
  }
  #header #navbar .nav_menu:after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #header #navbar .nav_img {
    padding: 0 15px;
  }
  #header #navbar .nav_menu {
    padding: 6px 15px;
  }
  #header #navbar .nav__right {
    border-top: 1px solid #fff;
  }
  #header #navbar .nav__right .navbar-nav .nav-item .nav-link {
    border: none;
    padding: 15px;
  }
}

#shoppingtool {
  padding: 30px 30px;
  position: fixed;
  top: 63px;
  left: 220px;
  right: 0;
  width: 50%;
  -webkit-box-shadow: 1px 20px 70px -10px black;
          box-shadow: 1px 20px 70px -10px black;
  z-index: -1;
}

#shoppingtool .shoppingtool_top .shoppingtool_menu {
  cursor: pointer;
  text-align: center;
  font-size: 1.4rem;
  color: #00324f;
  border-right: 2px solid #E7E7E7;
}

#shoppingtool .shoppingtool_top .shoppingtool_menu i {
  font-size: 4rem;
}

#shoppingtool .shoppingtool_top .shoppingtool_menu p {
  margin-top: 20px;
  white-space: nowrap;
}

#shoppingtool .shoppingtool_top .shoppingtool_menu:hover {
  color: #23527c;
}

#shoppingtool .shoppingtool_top .shoppingtool_menu:last-child {
  border: none;
}

#shoppingtool .shoppingtool_bottom a {
  color: #007cc0;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  #shoppingtool {
    position: static;
    width: 100%;
    background-color: #fff;
    padding: 0;
  }
}

#vehicles {
  position: fixed;
  top: 63px;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 67, 108, 0.8);
}

#vehicles .container-config {
  padding: 0 10%;
}

#vehicles .vehicles__top {
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
}

#vehicles .vehicles__top ul {
  margin: 0;
}

#vehicles .vehicles__top ul li {
  list-style: none;
}

#vehicles .vehicles__top ul li a {
  padding: 6px 25px;
  border-right: 0.15rem solid #eaeaea;
  font-size: 1.4rem;
  font-weight: bold;
  color: #00324f;
  text-decoration: none;
}

#vehicles .vehicles__top ul li a:hover {
  color: #2198dc;
}

#vehicles .vehicles__top ul .active a {
  text-decoration: underline;
  color: #2198dc;
}

#vehicles .vehicles__bottom {
  background-color: #f5f5f5;
  padding: 50px;
  max-height: 700px;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__title h1 {
  background-color: #f5f5f5;
  position: relative;
  top: -2.7rem;
  padding: 0 6px;
  color: #00324f;
  font-weight: bold;
  font-size: 2.4rem;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__title h1 i {
  font-size: 1.2rem;
  position: relative;
  top: -5px;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__title h1 span {
  font-weight: normal;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item {
  margin-bottom: 30px;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #00324f;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item h3 {
  font-size: 2.4rem;
  font-weight: normal;
  color: #00324f;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item p {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 5px;
  color: #00324f;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item .vehicles__img_hover {
  display: none;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item:hover .vehicles__img {
  display: none;
}

#vehicles .vehicles__bottom .vehicles__content .vehivles__item:hover .vehicles__img_hover {
  display: block;
}

#vehicles .vehicles__close {
  background-color: #f5f5f5;
  position: absolute;
  top: 63px;
  left: 90%;
  padding: 15px 0;
  color: #007cc3;
  width: 60px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
}

#vehicles .vehicles__close .vehicles__circle {
  text-align: center;
  width: 25px;
  height: 25px;
  border: 1px solid #007cc3;
  border-radius: 50%;
  margin: auto;
}

#vehicles .vehicles__close .vehicles__circle i {
  font-size: 1.4rem;
  line-height: 25px;
}

#vehicles .vehicles__close p {
  font-weight: bold;
  font-size: 1.4rem;
}

@media screen and (max-width: 960px) {
  #vehicles {
    top: 53px;
  }
  #vehicles .vehicles__top {
    padding: 8px;
  }
  #vehicles .vehicles__top ul li a {
    padding: 6px 13px;
  }
  #vehicles .vehicles__close {
    top: 39px;
  }
}

@media screen and (max-width: 830px) {
  #vehicles .vehicles__top ul li a {
    padding: 6px;
  }
  #vehicles .vehicles__close {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #vehicles {
    top: 57px;
  }
  #vehicles .vehicles__top ul li a {
    border: none;
  }
}

@media screen and (max-width: 377px) {
  #vehicles .vehicles__bottom {
    padding: 6px;
  }
}

#owners {
  padding: 30px 30px;
  position: fixed;
  top: 63px;
  right: 0;
  width: 37%;
  -webkit-box-shadow: 1px 20px 70px -10px black;
          box-shadow: 1px 20px 70px -10px black;
  z-index: -1;
}

#owners .owners_left {
  border-right: 2px solid #E7E7E7;
  padding-right: 30px;
}

#owners .owners_right {
  padding-left: 30px;
}

#owners ul li {
  list-style: none;
  margin-bottom: 17px;
}

#owners ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  color: #007cc0;
  white-space: nowrap;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 1374px) {
  #owners {
    min-width: 69%;
  }
}

@media screen and (max-width: 992px) {
  #owners {
    top: 53px;
  }
}

@media screen and (max-width: 768px) {
  #owners {
    position: static;
    width: 100%;
    background-color: #fff;
    padding: 0;
  }
  #owners .owners_left {
    border: none;
  }
  #owners ul li {
    margin: 0;
  }
  #owners ul li a {
    padding: 15px;
  }
}

@media screen and (max-width: 576px) {
  #owners {
    padding: 0 30px;
  }
  #owners .owners_left,
  #owners .owners_right {
    padding: 0;
  }
  #owners ul li {
    margin: 0;
  }
  #owners ul li a {
    padding: 0;
    white-space: initial;
  }
}

#search {
  padding: 6px 50px;
  position: fixed;
  top: 63px;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  z-index: -1;
}

#search i {
  color: #2198dc;
  font-size: 1.8rem;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#search input {
  width: 87%;
  height: 4.5rem;
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: 300;
  font-size: 2.4rem;
  color: #2198dc;
}

#search .search_btn {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.dropdown-toggle::after {
  display: none;
}
/*# sourceMappingURL=main.css.map */