.ourvehicles {
    h1 {
        color: $color-dark-blue-200;
        font-weight: $font-weight-300;
        font-size: $font-size-4;
        margin-bottom: $pd-9;
        text-align: center;
    }
    .ourvehicles_slide {
        .ourvehicles_indicators {
            position: static;
            margin: 0;
            margin-bottom: $mg-2;
            justify-content: space-around;
            width: 75%;
            li {
                display: inline-block;
                opacity: 1;
                text-indent: 0;
                height: auto;
                width: auto;
                color: red;
                border: none;
                margin: 0;
                text-align: center;
                color: $color-dark-blue-200;
                font-weight: $font-weight-bold;
                font-size: $font-size-1;
                padding: $pd-1 $pd-3;
                border-radius: 4rem;
                cursor: pointer;
            }
            .active {
                background-color: $color-blue-200;
                color: $color-white;
                position: relative;
                display: flex;
                justify-content: center;
                &::before {
                    position: absolute;
                    content: "";
                    height: 30px;
                    width: 30px;
                    border-top: 15px solid $color-white;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    bottom: -48px;
                    z-index: 10;
                }
            }
        }
        .carousel-inner {
            height: 580px;
            .ourvehicles_item {
                position: relative;
                height: 95%;
                .ourvehicles_item_top {
                    position: absolute;
                    top: 8%;
                    left: 6%;
                    width: 30%;
                    color: white;
                    > p {
                        font-weight: $font-weight-bold;
                        font-size: $font-size-1;
                        span {
                            font-weight: normal;
                        }
                    }
                    img {
                        transform: translateX(-15px);
                    }
                    .ourvehicles_caption {
                        font-weight: $font-weight-300;
                        margin-bottom: $mg-3;
                    }
                    .ourvehicles_smaillitem_top {
                        margin-bottom: $mg-3;
                        h2 {
                            font-weight: $font-weight-300;
                            font-size: $font-size-5;
                        }
                        p {
                            font-weight: $font-weight-bold;
                            font-size: $font-size-1;
                        }
                    }
                    .ourvehicles_item_button {
                        .ourvehicles_btn {
                            padding: $pd-1 $pd-5;
                        }
                    }
                }
                .ourvehicles_item_bottom {
                    position: absolute;
                    bottom: 0;
                    width: 50%;
                    border-top: 1px solid $color-white;
                    a {
                        font-size: $font-size-1;
                        font-weight: $font-weight-bold;
                        color: $color-white;
                    }
                }
            }
        }
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 4%;
}

//max-width: 992px
@include responsive("large") {
    .ourvehicles {
        h1 {
            font-size: $font-size-5;
        }
        .ourvehicles_slide {
            .ourvehicles_indicators {
                width: 100%;
            }
            .carousel-inner {
                .ourvehicles_item {
                    .ourvehicles_item_top {
                        width: 38%;
                        .ourvehicles_caption {
                            font-size: $font-size-1 - 0.2;
                        }
                        .ourvehicles_smaillitem_top {
                            h2 {
                                font-size: $font-size-3;
                            }
                            // p {
                            //     font-weight: $font-weight-bold;
                            //     font-size: $font-size-1;
                            // }
                        }
                    }
                    .ourvehicles_item_bottom {
                        border: none;
                        bottom: 3%;
                    }
                }
            }
        }
    }
}

.transform-rotate{
    transform:rotate(180deg);
}
//max-width: 768px
@include responsive("medium") {
    .ourvehicles {
        .ourvehicles_slide {
            position: relative;
            .ourvehicles_indicators_md {
                
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -5%;
                z-index: 9;
                width: 60%;
                background-color: $color-white;
                box-shadow: $box-shadow;
                .ourvehicles_indicators_md_top {
                    padding: 0 $pd-2;
                    h1 {
                        text-align: left;
                        font-size: $font-size-1 - 0.2;
                        margin: $mg-1;
                        margin-left: 0;
                        margin-right: auto;
                        color: #007cc3;
                        font-weight: $font-weight-300;
                        padding: $pd-2 0;
                        span {
                            color: $color-black;
                            font-weight: $font-weight-bold;
                        }
                    }
                    i {
                        font-size: $font-size-5;
                        color: $color-blue-100;
                        transition: all 0.5s;
                        font-weight: $font-weight-bold;
                    }
                    
                }
                ol {
                    display: none;
                    list-style: none;
                    border-top: $border-3;
                    li {
                        font-size: $font-size-1 - 0.2;
                        color: $color-black;
                        font-weight: $font-weight-bold;
                        padding: $pd-2;
                    }
                }
            }
        }
    }
}
