#vehicles {
    position: relative;
    background-color: rgba(0, 67, 108, 0.8);
    .container-config {
        padding: 0 10%;
    }
    .vehicles__top {
        padding: $pd-3 0;
        background-color: $color-white;
        ul {
            margin: 0;
            li {
                list-style: none;
                a {
                    padding: $pd-1 $pd-4;
                    border-right: 0.15rem solid #eaeaea;
                    font-size: 1.4rem;
                    font-weight: bold;
                    color: $color-dark-blue-200;
                    text-decoration: none;
                    &:hover {
                        color: $color-blue-200;
                    }
                }
            }
            .active {
                a {
                    text-decoration: underline;
                    color: $color-blue-200;
                }
            }
        }
    }
    .vehicles__bottom {
        background-color: $color-grey;
        padding: $pd-6;
        max-height: 700px;
        .vehicles__content {
            .vehivles__title {
                h1 {
                    background-color: $color-grey;
                    position: relative;
                    top: -2.7rem;
                    padding: 0 $pd-1;
                    color: $color-dark-blue-200;
                    font-weight: bold;
                    font-size: 2.4rem;
                    i {
                        font-size: 1.2rem;
                        position: relative;
                        top: -5px;
                    }
                    span {
                        font-weight: normal;
                    }
                }
            }

            .vehivles__item {
                margin-bottom: $mg-3;
                h2 {
                    font-size: $font-size-2;
                    font-weight: $font-weight-bold;
                    margin-bottom: $mg-1;
                    color: $color-dark-blue-200;
                }
                h3 {
                    font-size: $font-size-3;
                    font-weight: $font-weight-normal;
                    color: $color-dark-blue-200;
                }
                p {
                    font-size: $font-size-1;
                    font-weight: $font-weight-normal;
                    margin-bottom: $mg-1;
                    color: $color-dark-blue-200;
                }
                .vehicles__img_hover {
                    display: none;
                }
                &:hover {
                    .vehicles__img {
                        display: none;
                    }
                    .vehicles__img_hover {
                        display: block;
                    }
                }
            }
        }
    }
    .vehicles__close {
        background-color: $color-grey;
        position: absolute;
        left: 90%;
        padding: $pd-2 0;
        color: $color-blue-100;
        width: 60px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        cursor: pointer;
        .vehicles__circle {
            text-align: center;
            width: 25px;
            height: 25px;
            border: 1px solid $color-blue-100;
            border-radius: 50%;
            margin: auto;
            i {
                font-size: $font-size-1;
                line-height: 25px;
            }
        }
        p {
            font-weight: $font-weight-bold;
            font-size: $font-size-1;
        }
    }
}

.hide-vehicles{
    // display: none;
    transform: translateY(-109%);
    transition: all .5s;
}