@each $stt, $bg-color in (1, #3c4c5c) (2, #5e5e5e) (3, #14409a) (4, #c0bab5) (5, #5c5c5c) (6, #33569c) {
    #img-#{$stt} {
        background: linear-gradient(#bbbdc0, $color-grey, $color-grey);
    }
    .vehivles__item:hover > #img-#{$stt} {
        background: linear-gradient($bg-color, $color-grey, $color-grey);
    }
}
@each $stt in (1) (2) (3) (4) {
    .slide-#{$stt} {
        background-image: url("../img/./banner-#{$stt}.jpg");
        background-size: cover;
        background-position: center center;
        
        // srceen 768px
        @include responsive("medium") {
            background-image: url("../img/./banner-#{$stt}-xs.jpg");
            background-position: unset;
        }

    }
}
